*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
output {
  display: block;
  min-height: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 3px;
  width:90%;
}
/* #wrapper {
  margin:30px;
 display:block;
 background-color: beige; 
 padding:10px;
 width:25%;
 border:1px solid black;
} */

#newPlayerForm {
  margin-left:120px;
  margin-bottom:50px;
  margin-top:20px;
  display:block;
  border:3px solid;
  padding:10px;
  width:25%;


}
#playerBox{
  display:flex;
  flex-wrap:wrap;
  background-color: beige;
  text-align: center;
  width:80%;
  justify-content: space-evenly;
  padding:30px;
  border:3px solid;
}

img{

width:200px;
height:300px;
display:flex;
justify-content:space-evenly;

}

h2{
  background-color: powderblue;
  text-align: center;
  width:200px;
  
}
main{
  display:flex;
  justify-content:space-evenly;
}
#label{
  display:flex;
  justify-content:space-evenly;
  margin-bottom:10px;
}

body{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}
nav{
  background-color: lightyellow;
  height:30px;
  margin-left:5px;
}